.contact-pullout {
    display: none;
}

.contact-pullout {
    position: absolute;
    display: block;
    width: 20em;
    right: 30px;
    top: 7em;
    border: none;
    border-radius: 4px;
    background: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #d95d39, #F37335, #FDC830);
    color: #fff;
    transition: all 0.3s ease;
    padding: 20px;
    box-shadow: 0 30px 15px -7px rgb(0 0 0 / 20%);
    z-index: 1;
}

.contact-fields {
    display: block;
}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 20px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: #0E1428;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: -5px 10px 15px 2px rgb(0 0 0 / 20%);
}

input {
    border: none;
    border-radius: 3px;
    border-bottom: 4px #0E1428;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 99%;
    font-family: inherit;
    font-size: 16px;
    padding: 5px;
    transition: 180ms box-shadow ease-in-out;
    box-sizing: border-box;
    background-color: white;
    color: #0E1428;
}

textarea {
    height: 12em;
    resize: vertical;
    width: 99%;
    overflow: auto;
    margin-top: 5px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    padding: 5px;
    transition: 180ms box-shadow ease-in-out;
    box-sizing: border-box;
    color: #0E1428;

}