/* CV PAGE */
@media print {
  li {
    color: #0E1428;
  }

  nav {
    display: none;
  }

  p {
    color: #0E1428;
  }

  .h4background {
    display: none;
  }

  .h4mobile {
    display: block!important;
  }

  .intro {
    padding: 0px;
    border: solid brown 4px;
  }

  .material-icons {
    color: brown;
  }

  
}

* {
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: #d95d39;
}

h2, h3, h4, h4, h5 {
  color: #d95d39;
}

.container h5 {
  font-weight: 600;
  line-height: 1.5;
  display: block;
  margin-top: 0.9em;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  border-left: solid 1.5px brown;
  border-top: solid 1.5px brown;
  padding: 5px;
}

.container h6 {
  margin-bottom: 5px;
}

.contact {
  margin-top: -2px;
  margin-left: 0px;
}

.contact span {
  display: block;
}

.cvpage {
  background: white;
  padding: 20px;
  height: 100%;
}
  
.container {
  margin-top: 20px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 3px 15px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
  width: 100%; 
  height: 100%; 
}

.container ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
  border: dotted black 2px opacity 0.4;
}

.container li {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
  width: 98%;
  font-size: 12px;
  background-color: #FEE3C3;
  font-weight: 400;
}

.h4background {
  background: brown;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.h4mobile {
  display: none;
}

.interestslist h3 {
  color: brown;
}

.intro {
  background-image: linear-gradient(#0E1428, brown) ;
  margin-bottom: -20px;
  padding: 19px;
}

.intro p {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 400;
}

.left {
  border-right: 4px solid brown;
}

.materialicons {
  position: relative;
  display: block;

}

.nav {
  background: #0E1428;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: justify;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 15px;
}

.nav li {
  position: relative;
  color: #FEE3C3;
  list-style: none;
  font-weight: 300;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 13px;
  text-decoration: none;
  padding: 5px;
}

.print-button {
  position: relative;
  color: #FEE3C3;
  background: #0E1428;
  list-style: none;
  font-weight: 300;
  /* margin-left: 0px;
  margin-right: 20px; */
  margin-top: -9px;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  font-family: 'Sora', Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2), 0 0px 2px 0 rgba(254, 227, 195, 0.851);
}

.print-button:hover {
  background-color: #FEE3C3;
  color: #0E1428;
}

.right p {
  background: none;
  color: black;
  text-align: left;
  padding: 2px;
  font-weight: 500;
}

.right ol {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
  border: dotted black 2px opacity 0.4;
}

.right li {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 12px;
  background: #FEE3C3;
}

.quote {
  width: 100%;
  border: solid #FEE3C3 5px;
  color: #0E1428;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.quote h4 {
  margin-bottom: -20px;
}

/* Smallest devices (Small phones up to 576px) */
@media screen and (max-width: 576px ) { 
h1, h2 {
  font-size: 15px;
}

.intro p {
  font-size: 14px;
}

.container li {
  font-size: 14px;
}

.nav {
  padding-top: 25px;
}

.nav li {
  font-size: 14px;
  padding: 0px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px ) { 

  h1, h2 {
    font-size: 15px;
  }
  
  h3, h4, h5 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .container li {
    font-size: 14px;
  }

  .nav li {
    font-size: 14px;
    padding: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
  h1, h2 {
    font-size: 20px;
  }
  
  h3, h4, h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .container li {
    font-size: 16px;
  }

  .nav li {
    font-size: 16px;
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  h1, h2 {
    font-size: 20px;
  }
  
  h3, h4, h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .container li {
    font-size: 16px;
  }

  .nav li {
    font-size: 16px;
    padding: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h1, h2 {
    font-size: 22px;
  }
  
  h3, h4, h5 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  .container li {
    font-size: 15px;
  }

  .nav li {
    font-size: 15px;
    padding: 20px;
  }
}

@media screen and (min-width: 1400px) {
  h1, h2 {
    font-size: 24px;
  }
  
  h3, h4, h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .container li {
    font-size: 16px;
  }

  .intro p {
    font-size: 16px;
  }

  .nav li {
    font-size: 16px;
    padding: 20px;
  }
}

media print 
