.home-logo {
    margin-left: 2.5rem;
    margin-top: 1.2rem;
    width: 20rem;
}

.navbar {
    background: #0E1428;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: 1.2rem;
    position: sticky; 
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#navbar_logo {
    background: #d95d39;
    background-image: linear-gradient(to top, #FEE3C3 10%, #0E1428 100%);
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    width: 200px;
}
 
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: #0E1428!important;
    transition: all 0.3s ease;
    font-weight: 600;
    font-family: Sora;
}

.button:hover {
    color: white!important;
}

.navbar_links:hover {
    color: #FEE3C3;
    transition: all 0.3s ease;
}