/* Smallest devices (Small phones up to 576px) */
@media screen and (max-width: 576px ) { 
    * {
        font-smooth: auto;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        box-sizing: border-box;
      }

    a {
        color: #FFFFFF;
      }
      
    a:link {
        color: #FEE3C3;
      }
      
      /* visited link */
    a:visited {
        color: #FEE3C3;
      }
      
      /* mouse over link */
    a:hover {
        color: #0E1428;
      }
      
      /* selected link */
    a:active {
        color: #FEE3C3;
    }

    h1, h2 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
    }
    
    h3, h4, h5 {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
        display: block;
        margin-top: -1em;
        margin-bottom: 2em;
        margin-left: 0;
        margin-right: 0;
    }
    
    p {
        color: #FEE3C3;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
        font-size: 1em;
    }

    .aboutpage {
        padding-bottom: 1em;
    }

    .iframecontainer {
        width: 29em;
        height: 545px;
        margin-left: 14.5%;
        margin-right: 0%;
        overflow: hidden;
    }

    .iframe {
        height: 533px;
    }

    .mobileportfoliolinks {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 80%;
        margin-top: 28px;
        margin-bottom: 30px;
        text-align: center;    
    }

    .nav {
        font-size: 10px;
        background: #0E1428;
        display: flex;
        flex-flow: wrap;
        align-items: justify;
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .nav li {
        position: relative;
        color: #FEE3C3;
        list-style: none;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
        padding: 6px;
    }

    .portfoliopagesection {
        display: none;
        padding-bottom: 20px;
    }

    .pdf {
        width: 100%;
    }

    .pdfwrapper {
        width: 158%;
        padding-top: 20px;
    }

    .prototypediv {
        display: none;
    }

    .uxheader h2 {
        padding-left: 7ß0px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px ) { 
    * {
        font-smooth: auto;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        box-sizing: border-box;
      }

    a {
        color: #FFFFFF;
      }
      
    a:link {
        color: #FEE3C3;
      }
      
      /* visited link */
    a:visited {
        color: #FEE3C3;
      }
      
      /* mouse over link */
    a:hover {
        color: #0E1428;
      }
      
      /* selected link */
    a:active {
        color: #FEE3C3;
    }

    h1, h2 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
    }
    
    h3, h4, h5 {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
        display: block;
        margin-top: -1em;
        margin-bottom: 2em;
        margin-left: 0;
        margin-right: 0;
    }
    
    p {
        color: #FEE3C3;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
        font-size: 1em;
    }

    .aboutpage {
        padding-bottom: 1em;
    }

    .iframecontainer {
      width: 29em;
      height: 545px;
      margin-left: 13%;
      margin-right: 0%;
      overflow: hidden;
    }

    .iframe {
      height: 533px;
    }

    .mobileportfoliolinks {
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      width: 80vw;
      margin-top: 28px;
      margin-bottom: 30px;  
      text-align: center;    
  }

    .nav {
      font-size: 10px;
      background: #0E1428;
      display: flex;
      flex-flow: wrap;
      align-items: justify;
      list-style: none;
      width: 100%;
      margin: 0px;
      padding: 20px;
    }

    .nav li {
      position: relative;
      color: #FEE3C3;
      list-style: none;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
      font-size: 11px;
      padding: 6px;
    }

    .portfoliopagesection {
      display: none;
      padding-bottom: 20px;
    }

    .pdf {
      width: 100%;
    }

    .pdfwrapper {
      width: 158%;
    }

    .prototypediv {
      /* margin-bottom: -8em; */
      display: none;
    }

    .uxheader h2 {
      padding-left: 70px;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 20px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    * {
      font-smooth: auto;
      -webkit-font-smoothing: antialiased;
      margin: 0px;
      box-sizing: border-box;
    }

    a {
        color: #FFFFFF;
      }
      
    a:link {
        color: #FEE3C3;
      }
      
      /* visited link */
    a:visited {
        color: #FEE3C3;
      }
      
      /* mouse over link */
    a:hover {
        color: #0E1428;
      }
      
      /* selected link */
    a:active {
        color: #FEE3C3;
    }

    h1, h2 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
    }
    
    h3, h4, h5 {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
        display: block;
        margin-top: -1em;
        margin-bottom: 2em;
        margin-left: 0;
        margin-right: 0;
    }
    
    p {
        color: #FEE3C3;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
        font-size: 1em;
    }

    .aboutpage {
        padding-bottom: 1em;
    }

    .iframecontainer {
        width: 29em;
        height: 545px;
        margin-left: 13%;
        margin-right: 0%;
        overflow: hidden;
    }

    .iframe {
        height: 533px;
    }


    .mobileportfoliolinks {
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      width: 80vw;
      margin-top: 28px;
      margin-bottom: 30px;    
      text-align: center;  
  }


    .nav {
        font-size: 10px;
        background: #0E1428;
        display: flex;
        flex-flow: wrap;
        align-items: justify;
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .nav li {
        position: relative;
        color: #FEE3C3;
        list-style: none;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        padding: 6px;
    }

    .portfoliopagesection {
        display: none;
        padding-bottom: 20px;
    }

    .pdf {
        width: 100%;
    }

    .pdfwrapper {
        width: 158%;
    }

    .prototypediv {
        /* margin-bottom: -8em; */
        display: none;
    }

    .uxheader h2 {
        padding-left: 70px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  * {
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    box-sizing: border-box;
  }

h1, h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    display: block; 
    margin-top: 0.9em; 
    margin-bottom: 0.9em; 
    margin-left: auto; 
    margin-right: auto;
}

h3, h4, h5 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-top: -1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #FEE3C3;
    text-align: justify;
    line-height: 1.5;
    display: block; 
    margin-top: 0.9em; 
    margin-bottom: 0.9em; 
    margin-left: 0; 
    margin-right: 0;
    font-size: 1em;
}

.mobileportfoliolinks {
    display: none;
}

/* .portfoliopagesection {
    display: unset;
    padding-bottom: 20px;
} */

.prototypediv {
  margin-bottom: -8em;
  display: unset;
}

.box1--dark h1 {
  background: #0E1428;
  margin-top: 0px;
  margin-left: 0em;
  color:#d95d39;
  z-index: 1;
}

.box1--dark h3 {
  color:#FEE3C3;
}

.box1--dark-ux {
  background: #0E1428;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
  box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
}

.box2--light-ux {
  display: flex;
  flex-direction: column;
  background: #d95d39;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
}

.iframe {
  width: 100%;
  height: 1285px;
  object-fit: cover;
  zoom: 1;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}


.iframecontainer {
  width: 100%;
  height: 1150px;
  margin-left: 13%;
  margin-right: 20%;
  overflow: hidden;
  margin-bottom: -4em;
}

.laptopportfolio {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  place-items: center;
  padding: 20px;
  padding-top: 4em;
  row-gap: 6em;
}

.laptopgriditems {
  display: flex;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.miroh3 {
  margin-left: -223px;
}

.prototypediv {
  width: 100%;
  margin: -75px;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

.pdf {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.pdfwrapper {
  width: 100%;
  height: 90em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -8em;
  position: relative;
}

.pdfwrapper h3 {
  margin-left: -223px;
}

/* .portfoliopagesection {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 0;
  column-gap: 7em;
  row-gap: 4em;
  background: #0E1428;
  margin: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #FEE3C3;
  width: 80%;
  height: 430%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 4em;
  box-shadow: 6px 5px 5px 1px rgba(0,0,0,0.2);
  justify-content: space-around;
} */

.portfoliopagesection a {
  margin-left: 20%;
  margin-right: 20%;
}

.portfoliopagesection a {
  color: #FFFFFF;
  text-decoration: none;
}

.portfoliopagesection a:link {
  color: #FEE3C3;
}

/* visited link */
.portfoliopagesection a:visited {
  color: #d95d39;
}

/* mouse over link */
.portfoliopagesection a:hover {
  color: #FEE3C3;
}

/* selected link */
.portfoliopagesection a:active {
  color: #FEE3C3;
  
}

.portfoliopagesection img {
  margin-top: 2em;
  object-fit: contain;
  height: 82em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
}

.testheader {
  margin-top: 80px;
  padding-left: 80px;
}

.testheader h2, h3 {
  padding-left: 222px;
}

.ux p {
  text-align: left;
  margin-top: 0em;
  color: #0E1428;
  font-weight: 600;
}

/* .uxheader > h2, h3 {
  padding-left: 222px;
} */

.uxlist {
  font-size: 20px;
  color: #FEE3C3;
  margin-bottom: 20px;
  } 


/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
  * {
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    box-sizing: border-box;
  }

h1, h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    display: block; 
    margin-top: 0.9em; 
    margin-bottom: 0.9em; 
    margin-left: auto; 
    margin-right: auto;
}

h3, h4, h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-top: -1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #FEE3C3;
    text-align: justify;
    line-height: 1.5;
    display: block; 
    margin-top: 0.9em; 
    margin-bottom: 0.9em; 
    margin-left: 0; 
    margin-right: 0;
    font-size: 1em;
}

.mobileportfoliolinks {
    display: none;
}
/* 
.portfoliopagesection {
    display: unset;
    padding-bottom: 20px;
} */

.prototypediv {
    margin-bottom: -8em;
    display: unset;
}

.box1--dark h1 {
  background: #0E1428;
  margin-top: 0px;
  margin-left: 0em;
  color:#d95d39;
  z-index: 1;
}

.box1--dark h3 {
  color:#FEE3C3;
}

.box1--dark-ux {
  background: #0E1428;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
  box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
}

.box2--light-ux {
  display: flex;
  flex-direction: column;
  background: #d95d39;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
}

.iframe {
  width: 100%;
  height: 1285px;
  object-fit: cover;
  zoom: 1;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}


.iframecontainer {
  width: 98%;
  height: 1150px;
  margin-left: 13%;
  margin-right: 20%;
  overflow: hidden;
  margin-bottom: -4em
}

.laptopportfolio {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  place-items: center;
  padding: 20px;
  padding-top: 4em;
  row-gap: 6em;
}

.laptopgriditems {
  display: flex;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.miroh3 {
  margin-left: -223px;
}

.prototypediv {
  width: 100%;
  margin: -20px;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

.pdf {
  width: 100%;
  height: 117em;
  object-fit: cover;
  margin-bottom: 20em;
}

.pdfwrapper {
  width: 80%;
  height: 1600px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -8em;
  position: relative;
}

.pdfwrapper h3 {
  margin-left: -223px;
}

/* .portfoliopagesection {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 0;
  column-gap: 7em;
  row-gap: 4em;
  background: #0E1428;
  margin: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #FEE3C3;
  width: 80%;
  height: 430%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 4em;
  box-shadow: 6px 5px 5px 1px rgba(0,0,0,0.2);
  justify-content: space-around;
} */

.portfoliopagesection a {
  margin-left: 20%;
  margin-right: 20%;
}

.portfoliopagesection a {
  color: #FFFFFF;
  text-decoration: none;
}

.portfoliopagesection a:link {
  color: #FEE3C3;
}

/* visited link */
.portfoliopagesection a:visited {
  color: #d95d39;
}

/* mouse over link */
.portfoliopagesection a:hover {
  color: #FEE3C3;
}

/* selected link */
.portfoliopagesection a:active {
  color: #FEE3C3;
  
}

.portfoliopagesection img {
  margin-top: -42em;
  object-fit: contain;
  height: 147em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
}

.testheader {
  margin-top: 80px;
  padding-left: 80px;
}

.testheader h2, h3 {
  padding-left: 222px;
}

.ux p {
  text-align: left;
  margin-top: 0em;
  color: #0E1428;
  font-weight: 600;
}

/* .uxheader > h2, h3 {
  padding-left: 222px;
} */

.uxlist {
  font-size: 20px;
  color: #FEE3C3;
  margin-bottom: 20px;
  } 
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media  (min-width: 1400px) {
  * {
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    box-sizing: border-box;
  }
      
  a {
      color: #FFFFFF;
    }
    
  aside {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      padding-top: 40px;
      padding-right: 20px;
      padding-left: 45px;
      padding-bottom: 70px;
      align-items: center;
    }
      
  body {
      background: #d95d39;
      font-size: 15px;
      font-weight: 100;
      font-family: 'Sora', Helvetica, sans-serif;
      line-height: normal;
      overflow-x: hidden;
      margin: 0px;
      padding: 0px;
    }
      
  footer {
      background: #0E1428;
      margin-left: 0px;
      margin-right: 00px;
      box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
      height: 25em;
      width: 100%;
    }
      
  h1, h2, h3, h4, h5 {
      font-weight: 600;
      line-height: 1.5;
      display: block; 
      margin-top: 0.9em; 
      margin-bottom: 0.9em; 
      margin-left: auto; 
      margin-right: auto;
      text-align: center;
    }
      
  html {
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
      
  img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }
      
  main {
      position: relative;
      display: flex;
      flex: 100%;
      flex-direction: row;
      row-gap: 20px;
      width: 100%;
      top: -2em;
      margin-top: 0px;
      margin-bottom: 40px;
    }
      
  nav {
      background: #0E1428;
      margin: 0px;
      box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
      width: 100%;
    }
      
  nav li {
      position: relative;
      color: #FEE3C3;
      list-style: none;
      font-weight: 300;
      margin-left: 42px;
      margin-right: 42px;
    }
    
  nav li:hover {
      color: #0E1428;
      background: #FEE3C3;
      transition: .5s;
    }
      
  p {
      color: #FEE3C3;
      text-align: justify;
      line-height: 1.5;
      display: block; 
      margin-top: 0.9em; 
      margin-bottom: 0.9em;
      margin-left: 0; 
      margin-right: 0;
      font-size: 1.1em;
    }

    .mobileportfoliolinks {
        display: none;
    }

    .portfoliopagesection {
        display: block;
        padding-bottom: 20px;
    }
    
    .prototypediv {
        margin-bottom: -8em;
        display: unset;
    }

    .box1--dark h1 {
      background: #0E1428;
      margin-top: 0px;
      margin-left: 0em;
      color:#d95d39;
      z-index: 1;
    }
    
    .box1--dark h3 {
      color:#FEE3C3;
    }
    
    .box1--dark-ux {
      background: #0E1428;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      padding: 20px;
      box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
    }
    
    .box2--light-ux {
      display: flex;
      flex-direction: column;
      background: #d95d39;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      padding: 20px;
    }
    
    .iframe {
      width: 100%;
      height: 1285px;
      object-fit: cover;
      zoom: 1;
      -moz-transform: scale(0.75);
      -moz-transform-origin: 0 0;
      -o-transform: scale(0.75);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(0.75);
      -webkit-transform-origin: 0 0;
      margin-bottom: -23em;
    }
    
    .iframecontainer {
      width: 98%;
      height: 1150px;
      margin-left: 13%;
      margin-right: 20%;
      overflow: hidden;
      margin-bottom: 6em;
    }

    .laptopportfolio {
      display: none;
    }
    
    .miroh3 {
      margin-left: -223px;
    }
    
    .prototypediv {
      width: 100%;
      margin: 100px;
      margin-bottom: 4em;
      margin-left: auto;
      margin-right: auto;
    }
    
    .pdf {
      width: 100%;
      height: 117em;
      object-fit: cover;
    }
    
    .pdfwrapper {
      width: 80%;
      height: 1600px;
      margin-top: -7em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20em;
      position: relative;
    }
    
    .pdfwrapper h3 {
      margin-left: -223px;
    }
    
    /* .portfoliopagesection {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      flex-grow: 0;
      column-gap: 7em;
      row-gap: 4em;
      background: #0E1428;
      margin: 0px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      color: #FEE3C3;
      width: 80%;
      height: 430%;
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 4em;
      box-shadow: 6px 5px 5px 1px rgba(0,0,0,0.2);
      justify-content: space-around;
    } */
    
    .portfoliopagesection a {
      margin-left: 20%;
      margin-right: 20%;
    }
    
    .portfoliopagesection a {
      color: #FFFFFF;
      text-decoration: none;
    }
    
    .portfoliopagesection a:link {
      color: #FEE3C3;
    }
    
    /* visited link */
    .portfoliopagesection a:visited {
      color: #d95d39;
    }
    
    /* mouse over link */
    .portfoliopagesection a:hover {
      color: #FEE3C3;
    }
    
    /* selected link */
    .portfoliopagesection a:active {
      color: #FEE3C3;
      
    }
      
  .portfoliopagesection img {
    margin-top: -14em;
    object-fit: contain;
    height: 147em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
  }

    .researchsection {
      margin-top: 2em;
    }

    .researchsection img {
      height: 50em;
      margin-top: 3em;
    }

    .researchsection h2 {
      margin-bottom: 0.5em;
    }
    
    .testheader {
      margin-top: 80px;
      padding-left: 80px;
    }
    
    /* .testheader h2, h3 {
      padding-left: 222px;
    } */
    
    .ux p {
      text-align: left;
      margin-top: 0em;
      color: #0E1428;
      font-weight: 600;
    }
    
    /* .uxheader > h2, h3 {
      padding-left: 222px;
    } */
    
    .uxlist {
      font-size: 20px;
      color: #FEE3C3;
      margin-bottom: 20px;
    } 
  }
}