/* Smallest devices (Small phones up to 576px) */
@media screen and (max-width: 576px ) { 
    * {
        font-smooth: auto;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        box-sizing: border-box;
      }

    h1, h2 {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
    }
    
        h3, h4, h5 {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
        display: block;
        margin-top: -1em;
        margin-bottom: 2em;
        margin-left: 0;
        margin-right: 0;
    }
    
    p {
        color: #FEE3C3;
        text-align: justify;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
        font-size: 1em;
    }

    .aboutsection {
        display: flex;
        flex-direction: column;
        background: #0E1428;
        width: 60%;
        height: 35em;
        padding-top: 50px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: -20px;
        box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
        line-height: 1.4;
        align-items: flex-end;
    } 
    
    .aboutsection h2 {
        width: 12em;
    }

    .headercream {
        padding-left: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .headerdark h2 {
        margin-left: -25px;
    }
    
    .headerdark h3 {
        margin-left: -25px;
        margin-top: 10px;
    }

    .headerorange {
        left: 20px;
        padding-top: 25px;
    }
    
    .list {
        color: #0E1428;
        width: 25em;
        margin-top: 20px;
        margin-left: -23px;
    }

    .nav {
        font-size: 10px;
        background: #0E1428;
        display: flex;
        flex-flow: nowrap;
        align-items: justify;
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .nav li {
        position: relative;
        color: #FEE3C3;
        list-style: none;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
    }

    .picturesection {
        display: flex;
        flex-direction: column;
        background: #FEE3C3;
        width: 40%;
        height: 35em;
        box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
        padding: 10px;
    }

    .picturesection h5 {
        font-size: 10px;
        width: 10em;
    }

    .picturesection ul {
        list-style: none;
    }

    .portfoliosection iframe {
        padding-left: auto;
        padding-right: auto;
        width: 300px;
        height: 214px;
        object-fit: cover;
      }

    .portfoliosection img {
        padding-left: auto;
        padding-right: auto;
        width: 300px;
        height: 214px;
        object-fit: cover;
      }

    .portfoliosection2 {
        margin-bottom: 20px;
    }

    .skillsetsection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 30em;
        background: #d95d39;
        margin: 29px;
        margin-top: -10px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        color: #0E1428;
        width: 100%;
        height: 30%;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 95px;
        padding-bottom: -20px;
        justify-content: flex-start;
    }

    .skillsetsection > span {
        margin-left: -81px;
    }

    .timelinesection {
        justify-content: flex-start;
        padding-top: 6em;
        height: 80em;
    }

    .designskillset, .marketingskillset, .photographyskillset, .softskillset, .uxskillset, .webskillset, .writingskillset {
        padding: 6px;
        margin-top: -5px;
        margin-bottom: 0px;
        color: #FFFFFF;
    }

    .designskillset, .marketingskillset, .photographyskillset, .softskillset, .uxskillset, .webskillset, .writingskillset > h3 {
        align-items: center;
    }

    .uxportfolio {
    margin-left: 0px;
    }

    .webskillh3 {
        margin-top: 50px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px ) { 
    * {
        font-smooth: auto;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        box-sizing: border-box;
      }

    h1, h2, h3, h4, h5 {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
    }
    
    p {

        color: #FEE3C3;
        text-align: justify;
        line-height: 1.5;
        display: block; 
        margin-top: 0.9em; 
        margin-bottom: 0.9em; 
        margin-left: 0; 
        margin-right: 0;
        font-size: 1em;
    }

    .aboutsection {
        display: flex;
        flex-direction: column;
        background: #0E1428;
        width: 60%;
        height: 35em;
        padding-top: 50px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: -20px;
        box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
        line-height: 1.4;
        align-items: flex-end;
    } 

    .aboutsection h2 {
        width: 12em;
    }
    
    .list {
        color: #0E1428;
        width: 25em;
        margin-top: 20px;
        margin-left: -23px;
    }

    .nav {
        font-size: 11px;
        background: #0E1428;
        display: flex;
        flex-flow: nowrap;
        align-items: justify;
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .nav li {
        position: relative;
        color: #FEE3C3;
        list-style: none;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
    }

    .picturesection {
        display: flex;
        flex-direction: column;
        background: #FEE3C3;
        width: 40%;
        height: 35em;
        box-shadow: 6px 5px 5px 1px rgb(0 0 0 / 20%);
        padding: 10px;
    }

    .picturesection h5 {
        font-size: 11px;
        width: 17em;
    }

    .picturesection ul {
        list-style: none;
    }
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

 }

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media  (min-width: 1400px) {

 }